@font-face {
  font-family: AvenirRoman;
  src: url(/font/Avenir-roman.ttf);
}

@font-face {
  font-family: AvenirMedium;
  src: url(/font/Avenir-medium.ttf);
}

@font-face {
  font-family: AvenirBlack;
  src: url(/font/Avenir\ -black.ttf);
}

:root {
  --primary: #ec0201;
  --base: #fff;
  --dark: #000;
  --lighter: #d4d4d4;
  --light: #969696;
  --mediumcolor: #565656;

  --spacing-one: 0.8em;
  --spacing-half: 0.4em;
  --spacing-two: 1.75em;
  --spacing-small: 0.2em;
  --spacing-smaller: 0.1em;
  --spacing-big: 1.4em;

  --heading-one: 3em;
  --heading-two: 1.5em;
  --heading-three: 1.75em

  --bigfont: "AvenirBlack", Arial, Helvetica, sans-serif;
  --regularfont: "AvenirMedium", Arial, Helvetica, sans-serif;
  --romanfont: "AvenirRoman", Arial, Helvetica, sans-serif;
}

/*  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "AvenirMedium", Arial, Helvetica, sans-serif;
}

body {
  width: 100vw;
}

/* 
 */

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 30vh;
  background-color: var(--light);
  background-image: url(/assets/obamercatorp.jpg);
  background-blend-mode: multiply;
  background-size: cover;
}

.welcome img {
  position: relative;
}

.login {
  width: 100vw;
  height: 70vh;
  padding: 2rem;
  border-radius: 6px;
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); */
}

.login h2 {
  position: relative;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--dark);
}

.login h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 2.2rem;
  border-radius: 6px;
  background: var(--primary);
}

.login form {
  margin-top: 30px;
}

.login form .input-box {
  height: 3rem;
  width: 100%;
  margin: 1rem 0;
}

form .input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 1rem;
  font-size: 1rem;
  font-weight: 400;
  color: var(--dark);
  border: 1.5px solid var(--light);
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.input-box input:focus,
.input-box input:valid {
  border-color: var(--light);
}

form h3 {
  color: var(--light);
  font-size: 0.8rem;
  font-weight: 500;
}

.input-box.button input {
  color: var(--base);
  letter-spacing: 1px;
  border: none;
  background: var(--dark);
  cursor: pointer;
}

.input-box.button input:hover {
  background: var(--primary);
}

.input-box.button input:active {
  color: var(--dark);
  background-color: var(--base);
  border: 1px solid var(--dark);
}

form .text h3 {
  color: var(--light);
  width: 100%;
  text-align: center;
}

form .text h3 a {
  color: var(--primary);
  text-decoration: none;
}

form .text h3 a:hover {
  text-decoration: underline;
}

.wrapper .icon {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--base);
}

/* HOME PAGE */

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark);
  padding: var(--spacing-one);
}

header button {
  background-color: var(--primary);
  border: none;
}

header .icon {
  color: var(--base);
}

header li {
  list-style: none;
  padding: 0.2rem;
}

header ul {
  display: flex;
  flex-direction: row;
}

/* headings */

.container h1 {
  display: flex;
  line-height: 3rem;
  margin-bottom: 1.5rem;
}

h1 {
  font-family: var(--bigfont);
  font-size: var(--heading-one);
}

h2 {
  font-size: var(--heading-two);
}

/* icons */

.icon {
  font-size: 1.5rem;
}

/* main */

.container {
  padding: var(--spacing-big);
}

/* search bar */


.search-bar form i {
  margin-right: 1rem;
  font-size: 1.25rem;
}

.search-bar form {
  display: flex;
  align-items: center;
  padding: var(--spacing-half);
  height: 1.5eem; 
  border-radius: 6px;
  width: 80vw;
  background: var(--lighter);
}

.search-bar input {
  background: var(--lighter);
  height: 100%;
  width: 100%;
  font-size: 1rem;
  font-family: AvenirMedium 'sans serif';
  outline: none;
  border: none;
}

/* home buttons */

.home-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-half);
  margin: var(--spacing-big);
}

.home-buttons button {
  width: 16rem;
  font-size: 1rem;
  color: var(--dark);
  padding: var(--spacing-half);
  background-color: var(--base);
  border: 1px solid var(--dark);
  border-radius: 4px;
  box-shadow: 2px 2px 0px var(--dark);
}

.home-buttons button:hover {
  background-color: var(--dark);
  color: var(--base);
}

.home-buttons button:active {
  translate: 0% 5%;
  box-shadow: 1px 1px 0px var(--dark);
}

/* nieuws titel */

.news-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.news-title img {
  padding-right: var(--spacing-small);
}

.news-title h2 {
  text-decoration: underline;
  text-decoration-color: var(--primary);
  text-decoration-thickness: 2px;
}

/* carousel */

.carousel-view {
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.carousel-view button {
  display: flex;
  align-self: center;
  height: 4em;
  width: 2em;
  background-color: transparent;
  border: none;
}

button .icon {
  color: var(--dark);
}

button .icon:hover {
  color: var(--primary);
}

button .icon:active {
  transform: scale(1.1);
}

.item-list {
  display: flex;
  width: 80vw;
  scroll-behavior: smooth;
  overflow: auto;
  scroll-snap-type: x mandatory;
}

.item-list::-webkit-scrollbar {
  display: none;
}

.item-list {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.item {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-half);
  margin: var(--spacing-one);
  scroll-snap-align: center;
  border-radius: 10px;
  width: fit-content;
  box-shadow: 2px 2px 10px var(--dark);
}

.news-image {
  background-color: var(--mediumcolor);
  background-image: url(/assets/obasfeer.jpg);
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  height: 6em;
  border-radius: 6px;
}

.news-image:hover {
  background-blend-mode: normal;
  background-size: 120%;
  background-position: center;
}

.news-text {
  width: 9rem;
  max-height: 8rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

.news-text h3 {
  margin-top: 0.2rem;
  margin-bottom: -0.3rem;
  text-decoration: underline;
  text-decoration-color: var(--primary);
  text-decoration-thickness: 1px;
}

/* footer */

footer {
  background-color: var(--light);
  padding: var(--spacing-one);
}
