@font-face {
  font-family: AvenirRoman;
  src: url(./font/Avenir-roman.ttf);
}

@font-face {
  font-family: AvenirMedium;
  src: url(./font/Avenir-medium.ttf);
}

@font-face {
  font-family: AvenirBlack;
  src: url(./font/Avenir\ -black.ttf);
}

:root {
  --accent-color: #ec0201;
  --primary-color: #fff;
  --secondary-color: #000;
  --tertiary-color: #969696;
  --extra-color: #f9f9f9;

  --accent-color-one: #93256c;
  --accent-color-two: #df5429;
  --accent-color-three: #2a9077;
  --accent-color-four: #1a63a1;

  --spacing-regular: 0.8rem;
  --spacing-half: 0.4rem;
  --spacing-small: 0.2rem;
  --spacing-big: 1.6rem;

  --heading-one: 3em;
  --heading-two: 1.75em;
  --heading-three: 1.5em;

  --big-font: "AvenirBlack", Arial, Helvetica, sans-serif;
  --regular-font: "AvenirMedium", Arial, Helvetica, sans-serif;
  --roman-font: "AvenirRoman", Arial, Helvetica, sans-serif;

  --font-size-regular: 1rem;
  --font-size-big: 1.5rem;
  --font-size-small: 0.85rem;

  --border-one: 1px solid #969696;
  --border-radius: 6px;
}

/*  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--regular-font);
}

body {
  width: 100vw;
}

h1,
h2,
h3 {
  font-family: var(--big-font);
}

/*  */

.wrapper {
  display: flex;
  flex-direction: column;

  & h1 {
    --heading-one: 2rem;
    font-size: var(--heading-one);
    text-decoration: underline;
    text-decoration-color: var(--accent-color);
    text-decoration-thickness: 2px;
  }
}

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 30vh;
  background-color: var(--tertiary-color);
  background-image: url(/assets/obasfeer.jpg);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 70vh;
  background-color: var(--extra-color);
  padding: var(--spacing-big);
}

/* form */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0.75rem;
  border-radius: 0.75rem;
  width: 20rem; /* verander zoals gewenst */
}

input {
  width: 85%;
  font-size: 0.9rem;
  outline: none;
  border: var(--border-one);
  border-radius: var(--border-radius);
  padding: var(--spacing-half);
  margin: var(--spacing-half);
}

form a {
  display: flex;
  justify-content: center;
  width: 90%;
  text-decoration: none;
}

form button {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  width: 100%;
  height: 100%;
  border: none;
  border-radius: var(--border-radius);
  text-align: left;
  padding: var(--spacing-half);
  margin: var(--spacing-half);
  cursor: pointer;
}

form button:hover {
  background-color: var(--accent-color);
  color: var(--primary-color);
}

/* 
HOME PAGE 
*/

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondary-color);
  padding: var(--spacing-regular);
}

ul {
  display: flex;
  flex-direction: row;

  & li {
    list-style: none;
    padding-left: var(--spacing-regular);
  }

  .icon {
    font-size: var(--font-size-big);
    color: var(--primary-color);
  }
}

.home-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--spacing-big);
  margin: var(--spacing-small);
}


/* user overview */

.user-view {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: var(--spacing-big);
}

.user-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 30rem;
  max-height: 10rem;
  border: var(--border-one);
  border-radius: var(--border-radius);
  padding: var(--spacing-half);
  margin-top: var(--spacing-regular);

  img {
    border-radius: 50%;
    scale: 1.1;
  }
}

.user-content:hover {
  --border-one: 1px solid var(--accent-color);
  border: var(--border-one);
  box-shadow: 5px 5px 0px var(--accent-color);
}

.user-content:active {
  --border-one: 1px solid var(--accent-color);
  border: var(--border-one);
  transform: translate(1%, 3%);
  box-shadow: 1px 1px 0px var(--accent-color);
}

.user-info {
  padding-left: var(--spacing-half);

  ul {
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-small);

    li {
      padding: 0;
    }
  }
}

/* FOOTER */

footer {
  background-color: var(--tertiary-color);
  padding: var(--spacing-half);
}

/* media query */

@media only screen and (min-width: 620px) {
  .wrapper {
    display: flex;
    flex-direction: row;
  }

  .welcome {
    width: 40%;
    height: 100vh;
  }

  .welcome img {
    scale: 1.2;
  }

  .login {
    display: flex;
    justify-content: center;
    width: 60%;
    height: 100vh;
  }

  h1 {
    font-size: 3rem;
  }

  .home-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: var(--spacing-regular);
    margin-right: var(--spacing-big);
  }

  .home-wrapper h1 {
    width: 50%;
    max-width: 10ch;
  }

  .user-view {
    margin-top: var(--spacing-small);
    margin-left: var(--spacing-big);
  }
  .user-content {
    width: 100%;
    max-width: 30rem;
    max-height: 10rem;
  }
}
