@font-face {
  font-family: AvenirRoman;
  src: url(./font/Avenir-roman.ttf);
}

@font-face {
  font-family: AvenirMedium;
  src: url(./font/Avenir-medium.ttf);
}

@font-face {
  font-family: AvenirBlack;
  src: url(./font/Avenir\ -black.ttf);
}

:root {
  --accent-color: #ec0201;
  --primary-color: #fff;
  --secondary-color: #000;
  --tertiary-color: #969696;
  --extra-color: #f9f9f9;

  --accent-color-one: #93256c;
  --accent-color-two: #df5429;
  --accent-color-three: #2a9077;
  --accent-color-four: #1a63a1;

  --spacing-regular: 0.8rem;
  --spacing-half: 0.4rem;
  --spacing-small: 0.2rem;
  --spacing-big: 1.6rem;

  --heading-one: 3em;
  --heading-two: 1.75em;
  --heading-three: 1.5em;

  --big-font: "AvenirBlack", Arial, Helvetica, sans-serif;
  --regular-font: "AvenirMedium", Arial, Helvetica, sans-serif;
  --roman-font: "AvenirRoman", Arial, Helvetica, sans-serif;

  --font-size-regular: 1rem;
  --font-size-big: 1.5rem;
  --font-size-small: 0.85rem;

  --border-one: 1px solid #969696;
  --border-radius: 6px;
}

/*  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--regular-font);
}

body {
  width: 100vw;
}

h1,
h2,
h3 {
  font-family: var(--big-font);
}

/*  */

.wrapper {
  display: flex;
  flex-direction: column;

  & h1 {
    --heading-one: 2rem;
    font-size: var(--heading-one);
    text-decoration: underline;
    text-decoration-color: var(--accent-color);
    text-decoration-thickness: 2px;
  }
}

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 30vh;
  background-color: var(--tertiary-color);
  background-image: url(/assets/obasfeer.jpg);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 70vh;
  background-color: var(--extra-color);
  padding: var(--spacing-big);
}

.login p {
  font-size: 0.8rem;
  color: var(--tertiary-color);
  padding-top: var(--spacing-regular);
}

.login span {
  color: var(--tertiary-color);
  cursor: pointer;
}

.login span:hover {
  color: var(--accent-color);
  text-decoration: underline;
}

/* form */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0.75rem;
  border-radius: 0.75rem;
  width: 20rem; /* verander zoals gewenst */
}

input {
  width: 85%;
  font-size: 0.9rem;
  outline: none;
  border: var(--border-one);
  border-radius: var(--border-radius);
  padding: var(--spacing-half);
  margin: var(--spacing-half);
}

form a {
  display: flex;
  justify-content: center;
  width: 90%;
  text-decoration: none;
}

form button {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  width: 100%;
  height: 100%;
  border: none;
  border-radius: var(--border-radius);
  text-align: left;
  padding: var(--spacing-half);
  margin: var(--spacing-half);
  cursor: pointer;
}

form button:hover {
  background-color: var(--accent-color);
  color: var(--primary-color);
}

/* 
HOME PAGE 
*/

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondary-color);
  padding: var(--spacing-regular);
}

ul {
  display: flex;
  flex-direction: row;

  & li {
    list-style: none;
    padding-left: var(--spacing-regular);
  }

  .icon {
    font-size: var(--font-size-big);
    color: var(--primary-color);
  }
}

.home-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--spacing-big);
  margin: var(--spacing-small);
}

.home-wrapper a {
  text-decoration: none;
  color: var(--secondary-color);
}

.home-wrapper a:visited {
  text-decoration: none;
  color: var(--secondary-color);
}

/* user overview */

.user-view {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: var(--spacing-big);
}

.user-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 30rem;
  max-height: 10rem;
  border: var(--border-one);
  border-radius: var(--border-radius);
  padding: var(--spacing-half);
  margin-top: var(--spacing-regular);

  img {
    border-radius: 50%;
    scale: 1.1;
  }
}

.user-content:hover {
  --border-one: 1px solid var(--accent-color);
  border: var(--border-one);
  box-shadow: 5px 5px 0px var(--accent-color);
}

.user-content:active {
  --border-one: 1px solid var(--accent-color);
  border: var(--border-one);
  transform: translate(1%, 3%);
  box-shadow: 1px 1px 0px var(--accent-color);
}

.user-info {
  padding-left: var(--spacing-half);

  ul {
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-small);

    li {
      padding: 0;
    }
  }
}

/* User Page */

.user-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--spacing-big);
  margin: var(--spacing-small);
}

.user-wrapper .sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-wrapper .search-bar form {
  width: 100%;
  max-width: 16rem;
}

/* menu buttons */

.home-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-half);
}

.home-buttons button {
  width: 100%;
  max-width: 16rem;
  font-size: 1rem;
  color: var(--dark);
  padding: var(--spacing-half);
  background-color: var(--primary);
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  box-shadow: 2px 2px 0px var(--secondary-color);
}

.home-buttons button:hover {
  color: var(--primary-color);
  background-color: var(--accent-color);
}

.home-buttons button:active {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  translate: 0% 5%;
}

/* news carousel */

.news-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.news-title img {
  padding-right: var(--spacing-small);
}

.user-wrapper h2 {
  text-decoration: underline;
  text-decoration-color: var(--accent-color);
  text-decoration-thickness: 2px;
}

/* carousel */

.carousel-container {
  margin-top: var(--spacing-big);
  margin-bottom: var(--spacing-big);
}

.carousel-view {
  display: flex;
  justify-content: center;
  margin: var(--spacing-small);
}

.carousel-view button {
  display: flex;
  align-self: center;
  height: 4em;
  width: 2em;
  background-color: transparent;
  border: none;
}

button .icon {
  font-size: 1rem;
  color: var(--secondary-color);
}

button .icon:hover {
  color: var(--accent-color);
}

button .icon:active {
  scale: 1.3;
  translate: 0% 10%;
}

.item-list {
  display: flex;
  width: 80vw;
  scroll-behavior: smooth;
  overflow: auto;
  scroll-snap-type: x mandatory;
}

.item-list::-webkit-scrollbar {
  display: none;
}

.item-list {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.item {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-half);
  margin: var(--spacing-regular);
  scroll-snap-align: center;
  --border-radius: 10px;
  border-radius: var(--border-radius);
  width: fit-content;
  box-shadow: 2px 2px 10px var(--secondary-color);
}

.news-image {
  background-color: var(--tertiary-color);
  background-image: url(/assets/obasfeer.jpg);
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  height: 6rem;
  border-radius: var(--border-radius);
}

.news-image:hover {
  background-blend-mode: normal;
  background-size: 120%;
  background-position: center;
}

.news-text {
  width: 9rem;
  max-height: 8rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

.news-text h3 {
  margin-top: var(--spacing-small);
  text-decoration: underline;
  text-decoration-color: var(--accent-color);
  text-decoration-thickness: 1px;
}

/* geleende items */

.user-activites {
  display: flex;
  margin-top: var(--spacing-big);
}

.activity-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.activity-title img {
  padding-right: var(--spacing-small);
}

.book-overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-half);
}

.book {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 30rem;
  padding: var(--spacing-half);
  margin: var(--spacing-small);
  border-radius: var(--border-radius);
  border: var(--border-one);
}

.book img {
  padding: var(--spacing-small);
}

/* FOOTER */

footer {
  background-color: var(--tertiary-color);
  padding: var(--spacing-half);
}


/** media query */

@media only screen and (min-width: 620px) {
  .wrapper {
    display: flex;
    flex-direction: row;
  }

  .welcome {
    width: 40%;
    height: 100vh;
  }

  .welcome img {
    scale: 1.2;
  }

  .login {
    display: flex;
    justify-content: center;
    width: 60%;
    height: 100vh;
  }

  h1 {
    font-size: 3rem;
  }

  .home-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: var(--spacing-regular);
    margin-right: var(--spacing-big);
  }

  .home-wrapper h1 {
    width: 50%;
    max-width: 10ch;
  }

  .user-view {
    margin-top: var(--spacing-small);
    margin-left: var(--spacing-big);
  }
  .user-content {
    width: 100%;
    max-width: 30rem;
    max-height: 10rem;
  }

  .user-wrapper {
    display: grid;
    grid-template-areas:
      "head head"
      "aside news"
      "book book"
      "foot foot";
  }

  .user-wrapper h1 {
    grid-area: head;
    font-size: var(--heading-one);
    width: 15ch;
    padding: var(--spacing-regular);
  }

  .user-wrapper aside {
    grid-area: aside;
    width: 35vw;
  }

  .user-wrapper .news-carousel {
    grid-area: news;
    width: 65vw;
  }

  .user-activites {
    grid-area: book;
    width: 100vw;
  }

  .book-overview {
    width: 50vw;
  }

  .book {
    width: 100%;
  }
}
